; �Էֺ�;��ͷ������ע�ͣ�������                     
;																	                    
;																	                    
; �ļ����������ļ����֣�                              
; (1) Project Name,                                   
; (2) Software,                                       
; (3) CFG File,                                       
; �и��ļ���IfUsedΪ1����û�и��ļ�IfUsedΪ0          
[Project]                                             
Project Name = gps_agps                           
																											
[Lod]                                                 
IfUsed = 1                                            
Lod File =  C:/Users/window10/Documents/TechmationMyanmar/A9GGSMDevelopment/GPRS_C_SDK/hex/gps_agps/gps_agps_B2130.lod                                         
																											
[Cfp]                                                 
IfUsed = 0                                            
																											
																											
